/config.json
__pycache__/
*.pyc
memory.txt
tasks.json
knowledge/*
!knowledge/__init__.py
!knowledge/tools/command
!knowledge/tools/ett
!knowledge/tools/read
!knowledge/tools/search
!knowledge/tools/time
!knowledge/tools/write
/private.key
/public.key